{% extends "secure.html" %}

{% block content %}

<div class="page-header">
  <h1>Use your keyboard to control the car!</h1>
</div>



<div style="text-align: center">
  <iframe width="1280" height="780"
src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1">
</iframe>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>
var map = {};
$(document).keydown(function(e){
    e = e || event;
    map[e.keyCode] = true;
  }).keyup(function(e){
    if (map[38] && map[40]) {
      $.ajax({
        url: "/brake"
      });
    }
    else if (map[37] && map[39]) {
      $.ajax({
        url: "/brake"
      });
    }
    else if (map[38] && map[37]){
      $.ajax({
        url: "/UpLeft"
      });
    }
    else if (map[38] && map[39]){
      $.ajax({
        url: "/UpRight"
      });
    }
    else if (map[40] && map[37]){
      $.ajax({
        url: "/DownLeft"
      });
    }
    else if (map[40] && map[39]){
      $.ajax({
        url: "/DownRight"
      });
    }
    else if (map[38]){
      $.ajax({
        url: "/Up"
      });
    }
    else if (map[40]) {
      $.ajax({
        url: "/Down"
      });
    }
    else if (map[37]) {
      $.ajax({
        url: "/Left"
      });
    }
    else if (map[39]) {
      $.ajax({
        url: "/Right"
      });
    }
    map[e.keyCode] = false;
  });
</script>
{% endblock %}
