{% extends "base.html" %}

{% block base_content %}

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" >Yash Sharma & Abdullah Siddiki</a>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="hero-unit span6">
        <h1>Welcome to the Cooper Rover Web App!</h1>
        <p>Click the button below to begin playing!</p>
        <p>
          <a href="/dashboard" class="btn btn-success btn-large">
            Get started!
          </a>
        </p>
      </div>
      <div class="span4">
        <h2>What's this?</h2>
        <p>
          The "Cooper-Rover" is a unique game where a car with a webcam mounted streams video to this webapp! Here, you can control the car. It's a video-game brought to life!
        </p>
        <h2>Why isn't it working?</h2>
        <p>
           Currently, this application works for only one car-webcam-raspberry pi 2-spark photon set up. If you have been verified to have that particular setup, you are ready to play! Soon, this application will take one step-by-step to creating their very own car-webcam-raspberry pi 2-spark photon set up, so you can play as well! 
        </p>
      </div>
    </div>

    <footer>
      <p> <a href="http://github.com/Siddiki/Cooper-Rover">Github</a></p>
    </footer>

  </div> <!-- /container -->

{% endblock %}